<div class="container">
        <div id="carousel1" class="carousel slide" data-ride="carousel">
          <div class="row">

            <div class="col-md-9 col-xs-9 col-sm-9">
              <div class="carousel-inner">
                <div class="item active">
                    <img alt="Bootstrap template" src="{{ siteUrl }}assets/images/slider/img1.jpg">
                    <!-- <div class="carousel-caption">
                      <a href="#produtos">Ver todos os produtos desta linha ></a>
                    </div> -->
                </div>
                <div class="item">
                    <img alt="Bootstrap template" src="{{ siteUrl }}assets/images/slider/img2.jpg">
                    <!-- <div class="carousel-caption">
                      <a href="#produtos">Ver todos os produtos desta linha ></a>
                    </div> -->
                </div>
                <div class="item">
                    <img alt="Bootstrap template" src="{{ siteUrl }}assets/images/slider/img3.jpg">
                    <!-- <div class="carousel-caption">
                      <a href="#produtos">Ver todos os produtos desta linha ></a>
                    </div> -->
                </div>
                <div class="item">
                    <img alt="Bootstrap template" src="{{ siteUrl }}assets/images/slider/img4.jpg">
                    <!-- <div class="carousel-caption">
                      <a href="#produtos">Ver todos os produtos desta linha ></a>
                    </div> -->
                </div>
                <div class="item">
                    <img alt="Bootstrap template" src="{{ siteUrl }}assets/images/slider/img5.jpg">
                    <!-- <div class="carousel-caption">
                      <a href="#produtos">Ver todos os produtos desta linha ></a>
                    </div> -->
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3  col-xs-3">
              <ul class="nav nav-slider nav-pills">
                  <li data-target="#carousel1" data-slide-to="0" class="active arrow_box">
                      <a href="#"><div class="carousel-legend"><img src="{{ siteUrl }}assets/images/icons/aves.png" class="hidden-xs hidden-sm"> Aves</div></a>
                  </li>
                  <li data-target="#carousel1" data-slide-to="1" class="">
                      <a href="#"><div class="carousel-legend"><img src="{{ siteUrl }}assets/images/icons/suinos.png" class="hidden-xs hidden-sm"><span> Suínos</span></div></a>
                  </li>
                  <li data-target="#carousel1" data-slide-to="2" class="">
                      <a href="#"><div class="carousel-legend"><img src="{{ siteUrl }}assets/images/icons/bovinos.png" class="hidden-xs hidden-sm"> Bovinos</div></a>
                  </li>
                  <li data-target="#carousel1" data-slide-to="3" class="">
                      <a href="#"><div class="carousel-legend"><img src="{{ siteUrl }}assets/images/icons/laticinios.png" class="hidden-xs hidden-sm"> Laticínios</div></a>
                  </li>
                  <li data-target="#carousel1" data-slide-to="4" class="">
                      <a href="#"><div class="carousel-legend"><img src="{{ siteUrl }}assets/images/icons/utensilios.png" class="hidden-xs hidden-sm"> Fábrica de Ração</div></a>
                  </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <a id="slider-legend" class="col-xs-12" href="#produto"><span style="margin-right:5%;">Ver todos os produtos ></span></a>
          </div>
        </div>
      </div>