<section id="mission">
    <div class="container">
        <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="col-md-2">
        <img src="assets/images/icons/missao.png" class="img-responsive" alt="">
        <h3>Missão</h3>
      </div>
      <div class="col-sm-8 col-md-10">
        {{ empresa.missao }}
      </div>
    </div>
        </div>
  <div class="row margin-top-row">
    <div class="col-md-12 col-sm-12">
      <div class="col-md-2">
        <img src="assets/images/icons/visao.png" class="img-responsive" alt="">
        <h3>Visão</h3>
      </div>
      <div class="col-sm-8 col-md-10">
        {{ empresa.visao }}
      </div>
    </div>
        </div>
  <div class="row margin-top-row">
    <div class="col-md-12 col-sm-12">
      <div class="col-md-2">
        <img src="assets/images/icons/valores.png" class="img-responsive" alt="">
        <h3>Valores</h3>
      </div>
      <div class="col-sm-8 col-md-10">
        {{ empresa.valores }}
      </div>
    </div>
        </div>
    </div>
</section><!--/#explore-->